body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: #222;
  color: white;
}
.obj {
  background-color: cornsilk;
  width: 20px;
  height: 20px;
  color: black;
  text-align: center;
}
.scorebar {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
}

.rank,
.top_rank {
  font-family: arial;
  white-space: nowrap;
  font-weight: bold;
}
.container {
  position: relative;
  border: 1rem solid black;
  background-color: gray;
  border-radius: 0.7rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  width: fit-content;
}

.name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  color: rgb(54, 54, 54);
  font-family: arial;
  font-weight: bold;
}
a {
  text-decoration: none;
}
