body {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
}
.obj {
  background-color: cornsilk;
  width: 20px;
  height: 20px;
  color: black;
  text-align: center;
  padding: 0px 0px;
}
.rank {
  font-family: arial;
  white-space: nowrap;
  width: 100px;
}
